---
http_interactions:
- request:
    method: post
    uri: https://habco2-dev-ed.develop.my.salesforce.com/services/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=client_credentials&client_id=3MVG94Jqh209Cp4Rt8sETV.IGkNuJlPaPXPkzOm03N3v1XDbUcPLKnpTAt10feGA3DIH9bZ94T2VnD3DGDpu.&client_secret=A955A1241BFFC9C07452E55644BD0E57856CD6300FE5E57D9D07D07F9FD4286D
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Sfdc-Request-Id:
      - 53de7f5627a99811fa838c480be6b987
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"00DGB000003Yno6!AQcAQMJg3xMcO.RXeRYhdk94Fa7rLO6jVnZpEdZDTvzXklp.Z3j1pAUplPOGB9Eg6pF.Try.gwdxJaX5xrta2N2dXXf8YeCV","signature":"4hg4Bnq5FPxVl8C5L1NmM9aCgS6KItZY3W4X+gKzngw=","scope":"api","instance_url":"https://habco2-dev-ed.develop.my.salesforce.com","id":"https://login.salesforce.com/id/00DGB000003Yno62AC/005GB00000b1yjSYAQ","token_type":"Bearer","issued_at":"1748789893434"}'
  recorded_at: Sun, 01 Jun 2025 14:58:13 GMT
- request:
    method: get
    uri: https://habco2-dev-ed.develop.my.salesforce.com/services/data/v58.0/query?q=SELECT%20Id,%20Name%20FROM%20Organization%20LIMIT%201
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00DGB000003Yno6!AQcAQMJg3xMcO.RXeRYhdk94Fa7rLO6jVnZpEdZDTvzXklp.Z3j1pAUplPOGB9Eg6pF.Try.gwdxJaX5xrta2N2dXXf8YeCV
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Sforce-Limit-Info:
      - api-usage=597/15000
      X-Sfdc-Request-Id:
      - 72734a368c1d097de995d33ca6f58157
      X-Sfdc-Edge-Cache:
      - MISS
    body:
      encoding: ASCII-8BIT
      string: '{"totalSize":1,"done":true,"records":[{"attributes":{"type":"Organization","url":"/services/data/v58.0/sobjects/Organization/00DGB000003Yno62AC"},"Id":"00DGB000003Yno62AC","Name":"HAB&Co."}]}'
  recorded_at: Sun, 01 Jun 2025 14:58:13 GMT
- request:
    method: get
    uri: https://habco2-dev-ed.develop.my.salesforce.com/services/data/v58.0/query?q=SELECT%20COUNT()%20FROM%20Job__c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth 00DGB000003Yno6!AQcAQMJg3xMcO.RXeRYhdk94Fa7rLO6jVnZpEdZDTvzXklp.Z3j1pAUplPOGB9Eg6pF.Try.gwdxJaX5xrta2N2dXXf8YeCV
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Sforce-Limit-Info:
      - api-usage=597/15000
      X-Sfdc-Request-Id:
      - f144ece1a4301643a3a73d7035ce2174
      X-Sfdc-Edge-Cache:
      - MISS
    body:
      encoding: ASCII-8BIT
      string: '{"totalSize":6,"done":true,"records":[]}'
  recorded_at: Sun, 01 Jun 2025 14:58:13 GMT
recorded_with: VCR 6.3.1
